.card {
  background-color: var(--card-bg-color);
  padding: var(--padding);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);
  transition: var(--card-transition);
}

.card:hover {
  transform: var(--card-hover-transform);
}

.tabs-list button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.tabs-list button:hover,
.tabs-list button:focus,
.tabs-list button.active {
  opacity: 1;
  background-color: var(--primary-color);
}

.close-mesa-btn,
.pagamento-parcial-btn {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
}

#logoutBtn {
  background-color: var(--accent-color);
}

#logoutBtn:hover,
#logoutBtn:focus {
  background-color: var(--card-price-color);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

#resumoPagamentoParcial {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--card-bg-color);
  border-radius: var(--card-border-radius);
}

.botoes-exportacao {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.botoes-exportacao button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botoes-exportacao button:hover {
  background-color: #45a049;
}